body {
  background: #c19ee0;
}
p {
  color: black;
}
h1 {
  font-weight: bold;
  font-family: sans-serif;
  color: #553585;

}

h3 {
  font-family: sans-serif;
  color: #7e62a6;
}

h2 {
  font-family: sans-serif;
  color: #7e62a6;
  font-weight:bolder;
}
.unit2website {
  width: 1000px; 
}