
body {
  background-image: url(purplebg.jpg);"
}
h1 {
  color:#5f3688;
  font-family:sans-serif
}
h3 {
    color:#6e4598;
  font-family: sans-serif
  }

h2 {
font-family: sans-serif;
color: #792fa1;
}