body {
  background: #c19ee0;
}
p {
  color: black;
}
h1 {
  font-weight: bold;
  color:#7d61a9;
  font-family: sans-serif
}
h3 {
  font-family: sans-serif;
  color:#6c5098;
}

h2 {
  font-family: sans-serif;
  color:#7d61a9;
}